{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<center><font size="6"><font color="d7cdfc"><b>Kirpputori sienestys- ja marjastustavaroille:</b></font></center>
<center><font size="5"><a href="/for_sale"><b>Myytävänä</a> <a href="/for_purchase"> Halutaan ostaa</b></a></font></center>
<p>
<center><font size="6"><font color="f1aae8"><b>Käyttäjien lisäämät sieni- ja marjapaikat:</b></font></center>
<ul>
  <font size ="4">
    <li><a href="/new">Lisää uusi sieni- tai marjapaikkahavainto!</a>
    <li><a href="/remove_addition">Poista lisäyksesi</a>
    <p>
    <form action="/result_genre" method="GET">
    <li>Hae lajin mukaan: <input type="text" name="query">
    <input type="submit" value="Hae!">
    </form>
    <form action="/result_borough" method="GET">
    <li>Hae kaupunginosan mukaan: <input type="text" name="query">
    <input type="submit" value="Hae!">
    </form>
    <form action="/result_user" method="GET">
    <li>Hae käyttäjän mukaan: <input type="text" name="query">
    <input type="submit" value="Hae!">
    </form>
</ul>
{% if session.user_role == 1 %}
<h3>Adiminin toiminnot:</h3>
<ul>
<li><a href="/remove">Poista lisäys</a>
</ul>
{% endif %}
</font>
<font size="4">
{% for addition in additions %}
<b>Kaupunginosa:</b> {{ addition[0] }}
<p>
<b>Laji:</b> {{ addition[1] }}
<p>
<b>Löytöpaikka tarkemmin:</b> {{ addition[2] }}
<p>
<b>Lisännyt:</b> {{ addition[3] }}
<p>
<b>Päivämäärä:</b> {{ addition[4].strftime("%d.%m.%Y") }}
<p> 
<a href="/show_review/{{ addition[5] }}"> Arvostelut </a>
<hr>
{% endfor %}
</font>
{% else %}
<font size="5">
<p><center>
<i>Oletko viimein valmis paljastamaan salaisen puolukkapaikkasi sijainnin ja jakamaan onnesi muiden kanssa?
<p>
Löysitkö sattumalta kasapäin kantarelleja ja et halua että ne menevät hukkaan?
<p>
Jäikö luottomustikkapaikkasi raidejokerin työmaan alle ja tarvitset marjoja piirakkaan?</i>
<p>
Liity kaltaistesi joukkoon ja tule Marjapaikkaan! Parhaat marja- ja sienestyspaikat sekä kirpputorin marja- ja sienestystarvikkeille löydät kirjautumalla sisään. <b>Tervetuloa mukaan!</b>
<p>
<a href="/login">Kirjaudu sisään</a>
</center>
</font>
{% endif %}
{% endblock %}
