{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<p>
<b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
<p>
<ul>
<li><a href="/new">Lisää uusi marja- tai sienihavainto!</a>
<li><a href="/remove_addition">Poista lisäyksesi</a>

<form action="/result_genre" method="GET">
Hae lajin lisäykset: <input type="text" name="query">
<input type="submit" value="Lähetä">
</form>
<form action="/result_borough" method="GET">
Hae kaupunginosan lisäykset: <input type="text" name="query">
<input type="submit" value="Lähetä">
</form>
<form action="/result_user" method="GET">
Hae käyttäjän mukaan: <input type="text" name="query">
<input type="submit" value="Lähetä">
</form>

</ul>
{% if session.user_role == 1 %}
<h3>Adiminin toiminnot:</h3>
<ul>
<li><a href="/remove">Poista lisäys</a>
</ul>
{% endif %}
<p>
<a href="/fleamarket">Kirpputori sienestys- ja marjastustavaroille</a>
<h2>Käyttäjien lisäykset:</h2>

{% for addition in additions %}
<b>Kaupunginosa:</b> {{ addition[0] }}
<p>
<b>Laji:</b> {{ addition[1] }}
<p>
<b>Löytöpaikka tarkemmin:</b> {{ addition[2] }}
<p>
<b>Lisännyt:</b> {{ addition[3] }}
<p>
<b>Päivämäärä:</b> {{ addition[4].strftime("%d.%m.%Y") }}
<p> 
<a href="/show_review/{{ addition[5] }}"> Arvostelut </a>
<hr>
{% endfor %}
{% else %}
<i>Oletko jo valmis paljastamaan suvussa kulkeneen täydellisen puolukkapaikan sijainnin ja jakamaan onnesi muiden kanssa?
<p>
Löysitkö sattumalta kasapäin kantarelleja ja et halua että ne menevät hukkaan?
<p>
Jäikö luottomustikkapaikkasi raidejokerin työmaan alle ja tarvitset marjoja piirakkaan?</i>
<p>
Liity kaltaistesi joukkoon ja tule Marjapaikkaan! Parhaat marja- ja sienestyspaikat sekä kirpputorin marja- ja sienestystarvikkeille löydät kirjautumalla sisään. <b>Tervetuloa mukaan!</b>
<p>
<a href="/login">Kirjaudu sisään</a>
{% endif %}
{% endblock %}
