<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Helsingin Marjapaikka - {% block title %}{% endblock %}</title>
<center><h1><font color="FFFFFF"><font size="7">Helsingin Marjapaikka {% if session.user_id %}
<font size="4"><b>{{ session.user_name }}</b>.</font><div class="right"><form action="/logout">
<input type="submit" value="Kirjaudu ulos"/>{% endif %}
</form></div></h1></center>
{% block content %}{% endblock %}
