{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h3><font size="6">Täytä jokainen kohta!</h3></font>
<form action="/send" method="post">
<font size="5">Kaupunginosa: <br>
<textarea name="borough" rows="1" cols="40"></textarea>
<br>
Laji: <br>
<textarea name="genre" rows="1" cols="40"></textarea>
<br>
Löytöpaikka tarkemmin: <br>
<textarea name="coordinates" rows="5" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
</font>
<font size="4"><a href="/">Palaa takaisin</a></font>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
{% endblock %}
