{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h3>Täytä jokainen kohta!</h3>
<form action="/send" method="post">
Kaupunginosa: <br>
<textarea name="borough" rows="1" cols="40"></textarea>
<br>
Laji: <br>
<textarea name="genre" rows="1" cols="40"></textarea>
<br>
Löytöpaikka tarkemmin: <br>
<textarea name="coordinates" rows="5" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
{% endblock %}
