{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h3><font size="6">Kerro tuotteesta, jonka haluaisit ostaa. Älä unohda yhteystietoja!</h3></font>
<form action="/send_purchases_ad" method="post">
<font size="5">Ilmoitus: <br>
<textarea name="comment" rows="5" cols="40"></textarea>
<br>
Kaupunginosa: <br>
<textarea name="borough" rows="1" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
</font>
<font size="4"><a href="/for_purchase">Palaa takaisin</a></font>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
{% endblock %}
