{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<center><font size=6><font color="d7cdfc"><b>Ostetaan:</center></font></b>
<font size="4">
<ul>
<li><a href="/new_purchase">Lisää ostoilmoitus</a>
<li><a href="/remove_purchase">Poista ilmoituksesi</a>
</ul>
{% if session.user_role == 1 %}
<h3>Adiminin toiminnot:</h3>
<ul>
<li><a href="/remove_purchase_admin">Poista ilmoitus</a>
</ul>
{% endif %}
{% for purchase in purchases %}
<b>Ilmoitus:</b> {{ purchase[0] }}
<p>
<b>Kaupunginosa:</b> {{ purchase[1] }}
<p>
<b>Lisännyt:</b> {{ purchase[2] }}
<p>
<b>Aika:</b> {{ purchase[3].strftime("%d.%m.%Y") }}
<p> 
<hr>
{% endfor %}
</font>
<font size="4">
<a href="/">Palaa takaisin</a>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
{% endblock %}
