{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<h2><font size="6">Poista arvostelu</h2></font>
<form action="/remove_review" method="post">
<font size="5"><p>Minkä arvostelun haluat poistaa?</p>
{% for review in list %}
<input type="radio" name="review" value="{{ review.id }}"> {{ review.stars }}  ({{ review.comment }}) <br>
{% endfor %}
<p>
<input type="submit" value="Poista">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</font>
</font size="4"><a href="/">Palaa takaisin</a></font>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
{% endblock %}
