{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h2>Poista ostoilmoitus</h2>

<form action="/remove_purchase" method="post">

<p>Minkä ilmoituksen haluat poistaa?</p>

{% for purchase in list %}

<input type="radio" name="purchase" value="{{ purchase.id }}"> {{ purchase.comment }} <br>

{% endfor %}

<p>

<input type="submit" value="Poista">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/for_purchase">Palaa takaisin</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
{% endblock %}
