{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<center><font size="6"><font color="f1aae8"><b>Arvostelu paikalle {{ borough }} ({{ creator }})</b></font></center>
<br>
{% if reviews %}
<font size="5">Käyttäjien antamat arviot:</font>
{% endif %}
<font size="4">
<ul>
{% for entry in reviews %}
<li>{{ entry[3].strftime("%d.%m.%Y") }}: "{{ entry[2] }}" ({{ (entry[1]*"★") }}) -{{ entry[0] }} {% if session.user_role == 1 %}<a href="/remove_review/{{ entry [4] }}">Poista arvio</a>{% endif %}
{% endfor %}
</ul>
</font>
<font size="6">Arvioi paikka:</font>
<font size="5">
<p>
<form action="/review" method="post">
Tähdet:
<select name="stars">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p>
Kommentti:<br>
<textarea name="comment" rows="3" cols="40" maxlength="500"></textarea>
<p><input type="submit" value="Lähetä">
<input type="hidden" name="addition_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</font>
<br>
<font size="4"><a href="/">Palaa takaisin</a></font>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
{% endblock %}
