{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h2>Arvostelu paikalle {{ borough }} ({{ creator }})</h2>

{% if session.user_role == 1 %}
<h3>Adiminin toiminnot:</h3>
<ul>
<li><a href="/remove_review">Poista arvostelu</a>
</ul>
{% endif %}

{% if reviews %}
<h3>Käyttäjien antamat arviot:</h3>
{% endif %}

<ul>
{% for entry in reviews %}
<li>{{ entry[3].strftime("%d.%m.%Y") }}: "{{ entry[2] }}" ({{ (entry[1]*"★") }}) -{{ entry[0] }} 
{% endfor %}
</ul>

<h3>Arvioi paikka:</h3>
<form action="/review" method="post">
Tähdet:
<select name="stars">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p>
Kommentti:<br>
<textarea name="comment" rows="3" cols="40" maxlength="1000"></textarea>
<p><input type="submit" value="Lähetä">
<input type="hidden" name="addition_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<p>

<a href="/">Palaa takaisin</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
{% endblock %}
