{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<center><font size=6><font color="d7cdfc"><b>Myydään:</center></font></b>
<font size="4">
<ul>
<li><a href="/new_sale">Lisää myynti-ilmoitus</a>
<li><a href="/remove_sale">Poista ilmoituksesi</a>
</ul>
{% if session.user_role == 1 %}
<h3>Adiminin toiminnot:</h3>
<ul>
<li><a href="/remove_sale_admin">Poista ilmoitus</a>
</ul>
{% endif %}
{% for sale in sales %}
<b>Ilmoitus:</b> {{ sale[0] }}
<p>
<b>Kaupunginosa:</b> {{ sale[1] }}
<p>
<b>Lisännyt:</b> {{ sale[2] }}
<p>
<b>Aika:</b> {{ sale[3].strftime("%d.%m.%Y") }}
<p> 
<hr>
{% endfor %}
</font>
<font size="4">
<a href="/">Palaa takaisin</a>
{% else %}
<font size="4">Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></font>
{% endif %}
</font>
{% endblock %}
